@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic|Exo:800');

body {
  font-size: 13px;
  background-image: url('/img/cream_pixels.png');
}
a i, p i {
  font-size: 14px;
}

body,input,button,label,select,.btn,textarea {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px !important;
}

input,
button,
select,
textarea,
.modal,
.alert,
.dropdown-menu,
.btn,
.nav-pills a,
.breadcrumb {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.navbar {
  margin-bottom: 20px;
}
.navbar-inner {
  background: #fafafa;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none;
}
.brand {
  font-family: 'Exo', 'Open Sans', Helvetica, sans-serif;
  font-weight: 800 !important;
}
.brand i {
  margin-right: 8px;
}
.navbar .img-gravatar {
  margin: 5px 15px;
}

.dropdown-menu {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5) !important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5) !important;
}
.dropdown-menu a, .dropdown-menu a:focus, .dropdown-menu a:hover {
  background-image: none !important;
}

.files-table tr td:first-child {
  width: 20px;
  padding-right: 0;
}
.table thead tr {
  border-bottom: 2px solid #ddd;
}
.table tfoot tr {
  border-top: 3px double #ddd;
}
.table td small {
  display: inline-block;
}
.table a i {
  margin-right: 5px;
}

@media (max-width: 767px) {
  section {
    padding: 0 !important;
  }
  .table {
    margin-bottom: 0;
  }
  .table thead {
    display: none;
  }
  .table tr:nth-child(1) td {
    border-top: 0;
  }
  .table tr td:nth-child(3) {
    font-size: 8px;
    line-height: 12px;
  }
  footer {
    margin-top: 0;
    padding-bottom: 20px;
  }
}

section {
  background-color: rgba(255,255,255,0.8);
  padding: 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
}
.container-padding {
  padding: 10px 25px;
}
footer {
  margin-top: 20px;
  padding-bottom: 30px;
}

.current-page {
  text-transform: uppercase;
  padding-right: 5px;
}

.gravatar {
  margin-right: 20px;
}

.inline {
  display: inline;
}

.row-fluid .form-horizontal,
.row-fluid .form-inline {
  margin-top: 20px;
}

.google-calendar-embed {
  border: 0;
  width: 100%;
  height: 1110px;
}

.line-through {
  text-decoration: line-through;
}

.alert i {
  font-size: 16px !important;
  margin-right: 5px;
}

.muted a {
  color: #999;
}

tr.muted {
  background-color: #f8f8f8;
}

<!-- Table Sorter -->

th.sort-header {
  cursor:pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

<!-- -->

a.imdb {
  font-weight: 600;
  padding: 0 2px;
}
a.imdb:hover {
  color: #000;
  background-color: #ffcc33;
  text-decoration: none;
}

.downloaded td {
  opacity: 0.3;
}
.downloaded * {
  color: #333;
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.save-dropbox-container {
  display: inline-block;
}
.save-dropbox-container .progress, .save-dropbox-container .bar {
  margin: 0;
}